{% extends "page.html.jinja"%}
{% set page = "bimi-guide" %}
{% set title = "BIMI Guide" %}
{% block meta_description %}A quick and simple guide to Brand Indicators for Message Identification (BIMI){% endblock %}
{% block og_title %}BIMI Guide | {{site_name}} {% endblock %}
{% block og_description %}A quick and simple guide to Brand Indicators for Message Identification (BIMI){% endblock%}
{% block content %}
<div class="row justify-content-center">
  <h2 class="text-center">A quick guide to BIMI</h2>
</div>
<div class="row">
  <div class="col offset-lg-2 col-lg-8">
    <p>Placeholder text</p>
  </div>
</div 
{% endblock %}