{% extends "page.html.jinja"%}
{% set page = "mta-sts-and-tls-rpt-guide" %}
{% set title = "MTA-STS and TLS-RPT Guide" %}
{% block meta_description %}A quick and simple guide to SMTP MTA Strict Transport Security (MTA-STS) and SMTP TLS Reporting (TLS-RPT){% endblock %}
{% block og_title %}MTA-STS & TLS-RPT Guide | {{site_name}} {% endblock %}
{% block og_description %}A quick and simple guide to SMTP MTA Strict Transport Security (MTA-STS) and SMTP TLS Reporting (TLS-RPT) {% endblock%}
{% block content %}
<div class="row justify-content-center">
  <h2 class="text-center">SMTP MTA Strict Transport Security (MTA-STS)</h2>
  <div class="row">
  <div class="col offset-lg-2 col-lg-8">
    <p>Placeholder text</p>
  </div>
  <h2 class="text-center">SMTP TLS Reporting (TLS-RPT)</h2>
</div>
<div class="row">
  <div class="col offset-lg-2 col-lg-8">
    <p>Placeholder text</p>
  </div>
</div>
{% endblock %}