{% extends "page.html.jinja"%}
{% set title = "Not found" %}
{% block meta_description %}{% endblock %}
{% block og_title %}Domain does not exist{% endblock %}
{% block og_description %}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
      <h2 class="text-center">Not found</h2>
    </div>
{% endblock %}