{% extends "page.html.jinja"%}
{% set title = domain ~ "is not a domain" %}
{% block meta_description %}{{ domain }} is not a domain.{% endblock %}
{% block og_title %}Domain does not exist{% endblock %}
{% block og_description %}The domain {{ domain }} is not a domain.{% endblock %}

{% block content %}
    <div class="row justify-content-center">
      <h2 class="text-center">{{ domain }} is not a domain.</h2>
    </div>
{% endblock %}